<div>
	<ul class="nav">	
	<li ><a class="nav-link btn-outline-secondary" href="{{url_for('showCategories')}}">Home</a></li>
	<li><a class="nav-link btn-outline-secondary" href="{{url_for('showRecipes', cat_id = '1')}}">Appetizers</a></li>
	<li><a class="nav-link btn-outline-secondary" href="{{url_for('showRecipes', cat_id = '2')}}">Salads</a></li>
	<li><a class="nav-link btn-outline-secondary" href="{{url_for('showRecipes', cat_id = '3')}}">Side Dishes</a></li>
	<li><a class="nav-link btn-outline-secondary" href="{{url_for('showRecipes', cat_id = '4')}}">Meat/Poultry</a></li>
	<li><a class="nav-link btn-outline-secondary" href="{{url_for('showRecipes', cat_id = '5')}}">Dairy</a></li>
	<li><a class="nav-link btn-outline-secondary" href="{{url_for('showRecipes', cat_id = '6')}}">Desserts</a></li>
{% if logged_in %}
 		<p><a class="nav-link btn-outline-secondary" href="{{url_for('gdisconnect')}}">Logout</a> </p>
 	</ul>
  	</div>
{% else %}
 		<p><a class="nav-link btn-outline-secondary" href="{{url_for('showLogin')}}">Login</a> </p>
 	</ul>
  	</div>
{% endif %}	
